@import "tailwindcss";

:root {
  /* ここに共通変数を置く */
  --clr-base-1: #0f172a;
  --clr-main-1: #d4af37;
  --clr-accent-1: #67e8f9;
  --clr-bl-1: #94a3b8;
  --clr-wh-1: #f8fafc;
}




@theme {
  --color-clr-base-1: var(--clr-base-1);
  --color-clr-main-1: var(--clr-main-1);
  --color-clr-accent-1: var(--clr-accent-1);
  --color-clr-bl-1: var(--clr-bl-1);
  --color-clr-wh-1: var(--clr-wh-1);
  
  --font-sans: "Noto Sans JP", sans-serif;
  --font-serif: "Noto Serif JP", serif;
}

@layer base {
  body {
    @apply bg-clr-base-1 text-clr-bl-1 font-sans font-light leading-relaxed;
  }
  h1, h2, h3 {
    @apply font-serif font-light text-clr-main-1;
  }
}

body {
  @apply bg-clr-base-1 text-clr-bl-1 font-sans font-light leading-relaxed overflow-x-hidden;
}