@import "tailwindcss";

:root {
  /* ここに共通変数を置く */
  --color-base-1: #FFFDF9;
  --color-main-1: #bb8edd;
  --color-accent-1: #f4869a;
  --color-black-1: #5D5B57;
  --color-white-1: #FCFBFB;
}


@theme {
  --color-base-1: var(--color-base-1);
  --color-main-1: var(--color-main-1);
  --color-accent-1: var(--color-accent-1);
  --color-black-1: var(--color-black-1);
  --color-white-1: var(--color-white-1);
  
  --font-sans: "Noto Sans JP", sans-serif;
  --font-serif: "Noto Serif JP", serif;
}

@layer base {
  body {
    @apply bg-base-1 text-black-1 font-sans font-light leading-relaxed;
  }
  h1, h2, h3 {
    @apply font-serif font-light text-main-1;
  }
}

body {
  @apply bg-base-1 text-black-1 font-sans font-light leading-relaxed overflow-x-hidden;
}